@import '../../sass/vars';

.services-title {
  @extend %section-title;
}

.services-subtitle {
  @extend %section-subtitle;
  width: 500px;
}

.card-title {
  color: $color-primary;
}

.card-text {
  font-family: $font-secondary;
}