@import 'fonts';
@import 'vars';

body {
  color: $color-text;
  font-family: $font-primary;
  position: relative;
}

.top-section-wrapper {
  background: url('../images/background.jpg');
}

.main-content {
  z-index: 1000;
}
