@import 'fonts';
@import 'vars';

body {
  color: $color-text;
  font-family: $font-primary;
  position: relative;
}

.top-section-wrapper {
  background: url('../images/background.jpg');
}

.main-content {
  z-index: 1000;
}

.video-wrapper::after {
  background: $color-secondary;
  content: '';
  height: 543px;
  position: absolute;
  left: 21em;
  top: 0;
  width: 270px;
  z-index: 10;
}
