@import '../../sass/vars';

.contact-info {
  color: $font-primary;
  font-family: $font-secondary;
}

.contact-text {
  color: $color-primary;
}

@media(max-width: 992px) {
  .contact-text {
    width: 100px;
  }
}

@media(max-width: 568px) {
  .contact-text {
    width: auto;
  }
}